<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- Bootstrap icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>엘리스도서관</title>
</head>

<body>

    <div class="container w-100">
        {% include 'flash_modal.html' %}
        {% include 'navigation_bar.html' %}

        {% block content %}
        {% endblock %}
    </div>
    {% include 'footer.html' %}

    <!-- jQuery JS -->
    <script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            const messages = "{{ get_flashed_messages() }}";

            if (messages !== undefined && messages !== null && messages != '[]') {
                $("#errorModal").modal('show');
            };
        });
    </script>

</body>

</html>