{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if records %}
    <div class="row row-cols-1 row-cols-md-4 my-5">
        {% for record in records.items %}
        <div class="col mt-4">
            <div class="card h-100 m-4" style="width: 17rem;">
                <div class="d-flex justify-content-center align-items-center" style="width: 17rem; height: 17rem;">
                    <a href="{{ url_for('book.detail', book_id=record.book.id) }}">
                        <img src="{{ url_for( 'static', filename='/book_img/{book_id_number}.jpg'.format(book_id_number=record.book.id) ) }}"
                            class="card-img-top" style="width: 15rem; height: 15rem; border: thick double lightgray;"
                            alt="...">
                    </a>
                </div>
                {% if record.book.end_date %}
                <div class="card-body">
                    <a href="{{ url_for('book.detail', book_id=record.book.id) }}">
                        <h5 class="card-title">{{ record.book.title }}</h5>
                    </a>
                    <p class="card-text">대여시작: {{ record.start_date|datetime }}</p>
                    <p class="card-text">대여 끝: {{ record.end_date|datetime }}</p>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-success text-light" disabled>반납완료</button>
                </div>
                {% else %}
                <div class="card-body">
                    <a href="{{ url_for('book.detail', book_id=record.book.id) }}">
                        <h5 class="card-title">{{ record.book.title }}</h5>
                    </a>
                    <p class="card-text">대여시작: {{ record.start_date|datetime }}</p>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <a href="{{ url_for('rent.return_book') }}" class="btn btn-primary btn-lg text-light"
                        role="button">대여중</a>
                </div>
                {% endif %}


            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>대여기록이 없습니다.</p>
    {% endif %}

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if records.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ records.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_num in records.iter_pages() %}
        {% if page_num %}
        {% if page_num != records.page %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="#">...</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if records.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ records.next_num }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
</div>
{% endblock %}